@font-face {
    font-family: Linowrite;
    src: url('fonts/linowrite.ttf');
}

body {
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Linowrite;
}

a,
a:focus,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline: ;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    height: 144px;
}

.header .logo {
    width: 380px;
    float: left;
    border-right: 12px solid #5d0707;
    padding-bottom: 12px;
}

.header .nav {
    float: left;
    list-style-type: none;
}

.header .nav li {
    display: inline;
}

.header .nav li a {
    display: inline-block;
    padding: 87px 6px 0px;
    font-size: 24px;
}

.bookshelf {
    background-color: black;
    clear: both;
    padding: 0 38px;
}

.bookshelf .white-box {
    height: 176px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 27px;
}

.bookshelf .book {
    display: inline-block;
    height: 150px;
    width: 120px;
    color: white;
    vertical-align: middle;
    margin: 0 12px;
}

.bookshelf .book img {
    width: auto;
    height: 150px;
}

.bookshelf .book.coming {
    padding-top: 50px;
    font-size: 20px;
    background-color: black;
    height: 100px;
}

.content {
    background-color: black;
    color: black;
    padding: 0px;
}

.posts {
    display: table;
    width: 100%;
}

.previous,
.next {
    width: 78px;
    display: table-cell;
    background-color: #5d0707;
    text-align: center;
    font-size: 64px;
    vertical-align: middle;
    font-weight: bold;
}

a.previous:hover,
a.next:hover {
    background-color: #bc0e0e;
}

.post {
    background-color: white;
    color: black;
    padding: 35px;
    display: table-cell;
}

.post a,
.post a:focus,
.post a:active,
.post a:visited {
    color: black;
}

.post-image {
    margin-bottom: 16px;
}

.post-image img {
    width: 100%;
    height: auto;
}

.post .date {
    margin-bottom: 36px;
}

.fanart {
    display: block;
    width: 25%;
    margin: 24px 5%;
    float: left;
}

.fanart:nth-child(3n+1) {
    clear: left;
}

.tray {
    height: 303px;
    margin-top: 16px;
}

.tray li {
    display: inline-block;
    width: 33%;
}

.tray li a {
    display: block;
}

.tray li img {
    width: 100%;
    height: auto;
}

.tray-home a {
    padding: 0px 12px;
}

.tray-ask a {
    padding: 0px 18px;
}

.footer {
    background-color: black;
    text-align: center;
}

.footer .nav {
    list-style-type: none;
}

.footer .nav li {
    display: inline;
}

.footer .nav li a {
    display: inline-block;
    padding: 34px 12px 28px;
    font-size: 36px;
}

.copyright {
    padding: 18px 0px;
    background-color: #5d0707;
}
