---
layout: default
---

<div class="fanart-gallery">
  
  {% for fanart in site.fanart %}

    {% if fanart.link %}
    <a href="{{ site.baseurl }}{{ fanart.link }}" class="fanart">  

    {% else %}  

    <a href="{{ site.baseurl }}{{ fanart.url }}" class="fanart">  

    {% endif %}
      
      <h1>{{ fanart.title }}</h1>

      {% if fanart.image %}
      <div class="post-image">
        <img src="/images/{{ fanart.image }}" />
      </div>
      {% endif %}
    
      <div class="entry">
        {{ fanart.content }}
      </div>
    </a>
  {% endfor %}

</div>