---
layout: default
---

<div class="fanart-gallery">
  
  {% for fanart in site.fanart %}
    <article class="fanart">    
      
      <h1><a href="{{ site.baseurl }}{{ fanart.url }}">{{ fanart.title }}</a></h1>

      {% if fanart.image %}
      <div class="post-image">
        <img src="/images/{{ fanart.image }}" />
      </div>
      {% endif %}
    
      <div class="entry">
        {{ fanart.content }}
      </div>
      
      <a href="{{ site.baseurl }}{{ fanart.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

</div>