---
layout: default
---
<div class="posts">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><</a>
  {% else %}
    <span class="previous">&nbsp;</span>
  {% endif %}
  
  {% for post in paginator.posts %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      {% if post.image %}
      <div class="post-image">
        <img src="/images/{{ post.image }}" />
      </div>
      {% endif %}
    
      <div class="entry">
        {{ post.content }}
      </div>    
      
      <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
      </div>
  
      {% include disqus.html disqus_identifier=page.disqus_identifier %}
    </article>
  {% endfor %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">></a>
  {% else %}
    <span class="next ">&nbsp;</span>
  {% endif %}
</div>
