---
layout: default
---
<div class="posts">
  {% if page.prev-page %}
    <a href="{{ site.baseurl }}/{{ page.prev-page }}" class="previous"><</a>
  {% else %}
    <span class="previous">&nbsp;</span>
  {% endif %}
  
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>

      {% if page.image %}
      <div class="post-image">
        <img src="/images/{{ page.image }}" />
      </div>
      {% endif %}
    
      <div class="entry">
        {{ content }}
      </div>    
      
      <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
      </div>
  
      {% include disqus.html disqus_identifier=page.disqus_identifier %}
    </article>
  
  {% if page.next-page %}
    <a href="{{ site.baseurl }}/{{ page.next-page }}" class="next">></a>
  {% else %}
    <span class="next ">&nbsp;</span>
  {% endif %}
</div>
